:root {
    --primary-100: #ccccff;

    --primary-200: #9999ff;

    --primary-300: #6666ff;

    --primary-400: #3333ff;

    --primary-500: #0000ff;

    --primary-600: #0000cc;

    --primary-700: #000099;

    --primary-800: #000066;

    --primary-900: #000033;

    --primary-1000: #000000;

    --primary-1100: #e6e6ff;
    --primary-1200: #ffffffff;

    /*----------transiciones-----------------------*/
    --tran-02:all 0.2s ease;
    --tran-03:all 0.3s ease;
    --tran-04:all 0.4s ease;
    --tran-05:all 0.5s ease;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', 'serif';
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
   
   

}

/*INICIO-----------------------------------------------*/
.container {
    position: relative;
    widows: 100%;
    height: calc(108vh - 50px);
    background-image: url(../assets/park.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.text {
    margin: 0;
    padding: 100px;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: rgba(0, 0, 0, 0.75);
}

.text h1 {
    font-size: 100px;
}

.text p {
    font-size: 60px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid #ccccff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0px auto;
    padding: 4%;
    color: var(--primary-100);
    background-color: var(--primary-400);

}

.text .button {
    color: #fff;
    background-color: var(--primary-300);
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 9px 20px;
    text-transform: uppercase;
    width: 150px;
    position: static;
    display: grid;

}

.text .button:hover {
    background-color: var(--primary-600);
    color: white;
    cursor: pointer;
}


/*LOGIN----------------------------------------------*/

#login-popup::backdrop{
    background-color: rgba(0, 0, 0, 0.55);
}

#loging-popup{
    max-width: 50ch;
}


/*----------------SIDEBAR-------------------------------*/

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--primary-300);
}
.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
.sidebar li .icon{
    color: #fff;
} 
.sidebar li .text-sideb{
    color: #fff;
}
.sidebar header{
    position: relative;
}
.sidebar .logo-e .loge{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.text-side{
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}
.sidebar li a{
    align-items: center;
    text-decoration: none;
    transition: var(--tran-04);
    border-radius: 6px;
    
}
.sidebar li a:hover{
    background: var(--primary-300);
    height: 100%;
}
.settings{
    position: absolute;
    bottom: 1px;
}
.settings .detalis-settings{
    margin-left: 40px;
    color: #fff;
}
.settings .detalis-settings a{
    color: #fff;
    text-decoration: none;
}
.contenido{
    align-items: center;
}
.main-content .header{
    width: 100%;
    margin-left: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.main-content .form{
    width: 100%;
    margin-left: 350px;
}
.main-content .form .text-registrov{
    font-size: 15px;
    padding: 20px;
}
.form input{
    width: 20%;
    height: 50px;
    font-size: 20px;
}
.form .select-tipo{
    width: 20%;
    height: 50px;
    font-size: 20px;
}
.form .ingresar{
    width: 20%;
    height: 50px;
    background-color: var(--primary-300);
    border: none;
    color: #ffffffff;

}
.form .ingresar:hover{
    background-color: var(--primary-500);
}
.master-edit .txt-settings{
    margin-left: 750px;
}
.master-edit .form-txt{
    margin-left: 450px;
}
.master-edit .form-txt .txt-name{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0px;
}
.master-edit .form-txt .txt-lastname{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0px;
}
.master-edit .form-txt .txt-email{
    width: 80%;
    margin: 8px 0px;
    padding: 12px 20px;
}
.master-edit .form-txt .txt-password{
    width: 80%;
    margin: 8px 0px;
    padding: 12px 20px;
}
.master-edit .form-txt .btn-save{
    width: 80%;
    margin: 8px 0px;
    padding: 12px 20px;
    background-color: var(--primary-500);
    color: #fff;
    border: none;
}
.master-edit .form-txt .btn-save:hover{
    background-color: var(--primary-700);
}