<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Inicie Sesion</title>
</head>
<body>
    <div class="login-container">
        <div class="login-form-container">
            <h1 class="title"> Inicie Sesion</h1>
            <h2 class="slogan">Parking</h2>
            <h2 class="logo">E</h2>
            <form action="R_vehiculo.html" method="POST" class="inputs-container">
                <input type="email" class="input" placeholder="Usuario">
                <input type="password" class="input" placeholder="Contrasenia">
                <p>Olvido la contrasenia? <a href="#">Haga click aqui</a></p>
                <button class="btn">Iniciar Sesion</button>

            </form>
        </div>
        <img class="image" src="../assets/parkingvector.jpg" alt="login" srcset="">
    </div>
</body>
</html>